html {
    min-height: 100vh;
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* header content area */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

/* main content area */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#reset-button {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    background: white;
    cursor: pointer;
}

#reset-button:hover {
    background-color: lightgray;
}

#board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 450px;
    height: 450px;
    border: 1px solid black;
}

.board-square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    font-size: 30px;
    cursor: pointer;
}

